.filter {
  display: none;
  /* Add styling for the filter */
}

.show {
  display: block;
  width: 300px;
  position: absolute;
  left: 140px;
  background-color: white;
  height: 100vh;
}

.custom label {
  display: flex;
  align-items: center;
  width: 100%;
}

.custom label input[type="checkbox"] {
    width: 22px;
    height: 22px;
  }
  
  .custom label .custom_title {
   margin-left: 13px;
 }

 .dropdowns{
    display: flex;
    flex-direction: column;
    margin-top: 15px;
 }