.topbanner {
  font-family: "Barlow", sans-serif;
  width: 100%;
  background-color: black;
  font-weight: 400;
  text-align: left;
  text-transform: lowercase;
  padding: 10px 0;
}
.header {
  padding-bottom: 10px;
  border-bottom: 2px solid #e5e5e5;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.content {
  display: flex;
  align-items: center;
}

.content p {
  padding-left: 5px;
  color: #eb4c6b;
}

.branding {
  display: flex;
  margin-top: 36px;
  align-items: center;
  justify-content: space-evenly;
}

.icon {
  padding-right: 100px;
  flex-basis: 20%;
}

.logo {
  flex-basis: 15%;
}
.logo h2 {
  font-family: Inter;
  font-size: 36px;
  font-weight: 800;
  line-height: 43.57px;
  letter-spacing: 1px;
  text-align: left;
}

.iconsContainer {
  display: flex;
  align-items: center;
}

.iconsContainer img {
  margin: 0px 9px;
}

.bannerTitle {
  width: 721px;
  height: 155px;
  margin: 10px auto;
  margin-top: 80px;
  text-align: center;
}

.bannerTitle h1 {
  padding-bottom: 11px;
  
}

.bannerTitle p {
  line-height: 24px;
}
