.link {
  font-family:ui-sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 1px;
  text-align: left;
  color: black;
  text-decoration: none;
}

.navbar {
  display: flex;
  justify-content: space-evenly;
  width: 50%;
  margin: 10px auto;
  margin-top: 68px;
}

.navbarham {
  display: none;
}

@media (max-width: 480px) {
  .navbar {
    display: none;
    justify-content: space-evenly;
    width: 50%;
    margin: 10px auto;
    margin-top: 68px;
  }

  .navbarham .link:active {
    color: #c0b6b6;
  }
  .navbarham {
    display: block;
    justify-content: space-evenly;
    width: 50%;

    display: flex;
    /* margin: 10px auto; */
    font-family: Simplon Norm;
    font-size: 12px;

    line-height: 14.4px;
    text-align: left;
  }
}
