.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.main {
  background-color: black;
  color: white;
  position: relative;
  top: 5em;
}
.upper_footer {
  display: flex;
  justify-content: space-between;
}

.newsletter {
  flex: 1;
  max-width: 400px;
}

.newsletter h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.newsletter p {
  font-size: 16px;
  margin-bottom: 20px;
}

.input {
  display: flex;
}

.input input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.subscriber {
  padding: 10px 20px;
  background-color: #747b83;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  margin-left: 6px;
  cursor: pointer;
  font-family: Simplon Norm;
  font-size: 18px;
  font-weight: 500;
  line-height: 21.6px;
  text-align: left;
}

.trans_details {
  font-size: 15px;
}
.contact_us {
  flex: 1;
  max-width: 400px;
}

.usd {
  display: flex;
  margin-top: 8px;
}
.usd span {
  margin-left: 10px;
}
.contact_us h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

/* .contact_us p {
  font-size: 16px;
  margin-bottom: 10px;
} */

.currency {
  flex: 1;
  padding-top: 12px;
}

.currency .footerHeading {
  font-size: 18px;
  margin-bottom: 10px;
}

.action_links {
  display: flex;
  justify-content: space-between;
  padding: 40px 2px;
}

.metta_muse,
.quickLinks,
.follow_us {
  flex: 1;
  max-width: 300px;
}

.quickLinks ul {
  list-style: none;
  padding-top: 10px;
}

.quickLinks ul li {
  margin: 9px 1px;
}
.links {
  list-style: none;
  padding: 0;
  padding-top: 30px;
}
.link {
  font-family: Simplon Norm;
  font-size: 14px;
  font-weight: 100;
  line-height: 2px;
  letter-spacing: 1px;
  text-align: left;
  color: black;
  text-decoration: none;
  color: white;
}

.links li {
  font-size: 16px;
  margin-bottom: 10px;
}

.follow_us h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.social_links_container .social_links {
  display: flex;
  gap: 10px;
}

.social_links_container .social_links img {
  width: 24px;
  height: 24px;
}

.paymentMethodsContainer h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.media_contact {
  display: block;
}
.payments {
  display: flex;
  justify-content: space-between;
}
.copyright {
  text-align: center;
}
@media (max-width: 480px) {
  .wrapper {
    max-width: 1200px;

    margin: 0 auto;
    padding: 10px;
  }

  .main {
    background-color: black;
    color: white;
    position: relative;
    top: 5em;
  
  }
  .upper_footer {
    display: flex;
    flex-direction: column;
  }

  .media_contact {
    display: flex;
    justify-content: space-between;
  }

  .currency p {
    display: none;
  }

  .action_links {
    display: flex;
    flex-direction: column;
  }
}
